body {
    /*background: linear-gradient(to bottom right, rgb(176, 18, 182), rgb(0, 194, 184));*/
    background-color: rgb(0, 0, 0);
    margin: 0;
    width: 100vw;
    height: 100vh;
}

@keyframes giggle {
    0% {
        transform: rotate(7deg)
    }
}

#rails {
    position: absolute;
    display: inline;
    background: url("../img/rails3.jpg") no-repeat;
    width: 100%;
    background-size: contain;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,.8); 
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    text-align: center;
    line-height: calc(530 * 100vw / 1600);
    font-size: 4vw;
    font-family: Cambria;
}

#logo {
    position: relative;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#logo:hover {
    animation: giggle 0.2s infinite alternate ease-out
}

#grid_logo {
    position: relative;
    display: grid;
    grid-template-rows: 8vmin;
    grid-template-columns: 8vmin 8vmin;
    margin-left: 2vmin;
    gap: 1.5vmin;
    align-items: center;
}

#name {
    position: relative;
    grid-row: 1;
    grid-column: 2;
    font-size: 3vmin;
    color: white;
    font-family: fantasy;
    z-index: 2;
}

h1 {
    z-index: 2;
    vertical-align: middle;
}

#gris {
    width: 60%;
    height: min-content;
    background-color: rgb(41, 41, 41);
    margin-left: 6vw;
    padding-top: calc(500 * 100vw / 1600);
    padding-bottom: 20px;
}

#white {
    width: 80%;
    height: 30%;
    background-color: rgb(195, 195, 195);
    margin-left: 3vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    box-shadow: -10px 10px 10px 0px rgba(0,0,0,.8);
}

.description {
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    position: relative;
    width: 50%;
    color: rgba(0, 0, 0, 0);
    font-size: 2.0vw;
    left: 50%;
}

.rond {
    display: flex;
    align-items: center;
    width: 40vw;
    height: 15vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s;
    background-color: white;
    margin: 5vh;
    margin-left: calc(50% - 6vw);
    box-shadow: -10px 10px 10px 0px rgba(0,0,0,.8);
    text-align: center;
}

.rond:hover {
    width: 45vw;
    height: 18vw;
    background-color: wheat;
    background-position: left;
}

.rond:hover h2 {
    color: black;
}

#carte {
    background-image: url("../img/carte.png");
    font-family: Sans-serif
}

#recherche {
    background-image: url("../img/recherche.png");
    font-family: Sans-serif
}

#tableau {
    grid-row: 5;
    grid-column: 2/4;
    background-image: url("../img/tableau.png");
    font-family: Sans-serif
}

#itineraire {
    background-image: url("../img/itineraire.png");
    font-family: Sans-serif
}

#bas {
    display: flex;
    background: rgb(39, 37, 37);
    align-items: center
}

a {
    color: rgb(172, 169, 169);
    margin: 10px
}