body {
    background: linear-gradient(to bottom right, rgb(182, 18, 59), rgb(58, 124, 121));
    margin: 0;
    width: 100wh;
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-content: center;
}