#sidebar {
    width: 300px;
    position: fixed;
    height: 100%;
    background: rgb(241, 197, 255);
    justify-content: center;
    z-index: 20;
}

#onglets {
    padding-left: 4px;
}

.onglet {
    width: 290px;
    height: 40px;
    list-style-type: none;
	font-family: monospace;
	font-size: 25px;
	color: rgb(0, 0, 0);
}

.onglet:hover {
    color: thistle;
}

@media screen and (max-width: 800px) {
    .onglet {
        font-size: 0;
    }
}