#onglets {
    padding-left: 4px;
}

.onglet {
    width: 290px;
    height: 40px;
    list-style-type: none;
	font-family: monospace;
	font-size: 25px;
	color: rgb(0, 0, 0);
}

.onglet:hover {
    color: thistle;
}

@media screen and (max-width: 800px) {
    .onglet {
        font-size: 0;
    }
}