#onglets {
    padding-left: 4px;
}

.onglet {
    width: 290px;
    height: 40px;
    list-style-type: none;
	background: rgb(255, 255, 255);
	font-family: monospace;
	font-size: 25px;
	color: rgb(0, 0, 0);
}

.onglet:hover {
    color: thistle;
}