body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(84, 20, 204), rgb(179, 22, 22));
    /*background-size: cover;
    background-blend-mode: lighten;*/
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    text-align: center;
    z-index: -1;
}

#sidebar {
    opacity: 0.8;
    width: 300px;
    position: fixed;
    height: 100%;
    background: rgb(255, 255, 255);
    justify-content: center;
}

#background {
    background: rgb(172, 169, 169, 0.5);
    height: calc(100% - 94px);
    flex-grow: 2;
}

#content {
    flex-basis: calc(100% - 300px);
    height: calc(100% - 30px);
    padding-left: 300px;
}

h1 {
    height: 50px;
    font-family: system-ui;
    text-align: start;
    margin-left: 50px;
}

#time {
    width: 70px;
    height: 30px;
}

#station {
    width: 400px;
    height: 30px;
    color: #000;
}

#button {
    width: 100px;
    height: 30px;
}

#infos{
    flex-basis: calc(100% - 300px);
    height: auto;
    text-align: start;
    padding-top: 1%;
    padding-left: 2%;
}

.picto {
    width: 50px;
    height: 50px;
    transform: translateY(17px);
}

#bas {
    display: flex;
    position: fixed;
    top: calc(100% - 30px);
    width: 100%;
    height: 30px;
    background: rgb(39, 39, 39);
    text-align: start;
    align-items: center;
}

a {
    color: rgb(172, 169, 169);
    margin: 10px;
}

@media screen and (max-width: 800px) {
    #sidebar {
      width: 0;
    }
}

@media screen and (max-width: 800px) {
    #content {
        flex-basis: 100%;
        padding-left: 0;
    }
}