#background {
    background: rgb(172, 169, 169, 0.5);
    height: calc(100% - 94px);
    flex-grow: 2;
}

h1 {
    height: 50px;
    font-family: system-ui;
    text-align: start;
    margin-left: 50px;
}

#time {
    width: 70px;
    height: 30px;
}

#station {
    width: 400px;
    height: 30px;
    color: #000;
}

#button {
    width: 100px;
    height: 30px;
}

#infos{
    flex-basis: calc(100% - 300px);
    height: auto;
    text-align: start;
    padding-top: 1%;
    padding-left: 2%;
}

@media screen and (max-width: 800px) {
    #sidebar {
      width: 0;
    }
}

@media screen and (max-width: 800px) {
    #content {
        flex-basis: 100%;
        padding-left: 0;
    }
}